<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <public
               publicId="http://www.pizzafactory.jp/SpaceWire/NetworkTopology"
               uri="model-schema/SpaceWireNetworkTopology.xsd">
         </public>
         <public
               publicId="http://www.pizzafactory.jp/SpaceWire/ChannelInfo"
               uri="model-schema/SpaceWireChannelInfo.xsd">
         </public>
      </catalogContribution>
   </extension>

</plugin>
